@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --tw-color-primary-100: 224 240 254;
    --tw-color-primary-300: 124 200 253;
    --tw-color-primary-500: 12 148 235;
    --tw-color-primary-700: 1 92 163;
    --tw-color-primary-900: 11 66 111;

    --tw-color-secondary-100: 255 241 213;
    --tw-color-secondary-300: 255 200 114;
    --tw-color-secondary-500: 252 137 19;
    --tw-color-secondary-700: 196 82 10;
    --tw-color-secondary-900: 125 54 17;

    --tw-color-info-100: 218 240 255;
    --tw-color-info-300: 145 216 255;
    --tw-color-info-500: 59 164 249;
    --tw-color-info-700: 26 110 219;
    --tw-color-info-900: 28 76 140;

    --tw-color-success-100: 221 246 209;
    --tw-color-success-300: 147 226 116;
    --tw-color-success-500: 87 204 48;
    --tw-color-success-700: 46 111 28;
    --tw-color-success-900: 36 76 27;

    --tw-color-warning-100: 255 246 197;
    --tw-color-warning-300: 255 223 70;
    --tw-color-warning-500: 255 171 0;
    --tw-color-warning-700: 187 90 2;
    --tw-color-warning-900: 124 57 11;

    --tw-color-danger-100: 255 228 223;
    --tw-color-danger-300: 255 171 157;
    --tw-color-danger-500: 255 85 56;
    --tw-color-danger-700: 200 40 13;
    --tw-color-danger-900: 136 37 20;

    --tw-color-grey-50: 248 250 250;
    --tw-color-grey-100: 242 245 245;
    --tw-color-grey-200: 231 235 237;
    --tw-color-grey-300: 211 218 223;
    --tw-color-grey-400: 186 197 203;
    --tw-color-grey-500: 157 171 181;
    --tw-color-grey-600: 145 158 171;
    --tw-color-grey-700: 114 128 143;
    --tw-color-grey-800: 96 107 119;
    --tw-color-grey-900: 79 88 99;
    --tw-color-grey-950: 52 59 65;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --tw-color-primary-100: 11 66 111;
    --tw-color-primary-300: 1 92 163;
    --tw-color-primary-500: 12 148 235;
    --tw-color-primary-700: 124 200 253;
    --tw-color-primary-900: 224 240 254;

    --tw-color-secondary-100: 125 54 17;
    --tw-color-secondary-300: 196 82 10;
    --tw-color-secondary-500: 252 137 19;
    --tw-color-secondary-700: 255 200 114;
    --tw-color-secondary-900: 255 241 213;

    --tw-color-info-100: 28 76 140;
    --tw-color-info-300: 26 110 219;
    --tw-color-info-500: 59 164 249;
    --tw-color-info-700: 145 216 255;
    --tw-color-info-900: 218 240 255;

    --tw-color-success-100: 36 76 27;
    --tw-color-success-300: 46 111 28;
    --tw-color-success-500: 87 204 48;
    --tw-color-success-700: 147 226 116;
    --tw-color-success-900: 221 246 209;

    --tw-color-warning-100: 124 57 11;
    --tw-color-warning-300: 187 90 2;
    --tw-color-warning-500: 255 171 0;
    --tw-color-warning-700: 255 223 70;
    --tw-color-warning-900: 255 246 197;

    --tw-color-danger-100: 136 37 20;
    --tw-color-danger-300: 200 40 13;
    --tw-color-danger-500: 255 85 56;
    --tw-color-danger-700: 255 171 157;
    --tw-color-danger-900: 255 228 223;

    --tw-color-gray-50: 52 59 65;
    --tw-color-gray-100: 79 88 99;
    --tw-color-gray-200: 96 107 119;
    --tw-color-gray-300: 114 128 143;
    --tw-color-gray-400: 145 158 171;
    --tw-color-gray-500: 157 171 181;
    --tw-color-gray-600: 186 197 203;
    --tw-color-gray-700: 211 218 223;
    --tw-color-gray-800: 231 235 237;
    --tw-color-gray-900: 242 245 245;
    --tw-color-gray-950: 248 250 250;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
